@import "../../styles/variables";

#enter-company-code-wrapper {
  .modal-header {
    padding: 0;
    h2 {
      font-family: $roboto;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: $template-text-discount;
      background-color: $tealish-two;
      margin-top: 6px;
      padding: 7px 0;
      line-height: 24px;
      .fa {
        margin-right: 10px;
        font-size: 24px;
      }
    }
  }
  .modal-body {
    .form-group {
      max-width: 350px;
      margin: 18px auto 20px;
    }
    p {
      font-family: $open-sans;
      font-size: 12px;
      font-weight: 600;
      text-align: justify;
      color: $steel;
    }
    input[type=text] {
      font-family: $open-sans;
      font-size: 14px;
      font-weight: 600;
      text-align: left;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */

        color: $white-two;
      }
      &::-moz-placeholder { /* Firefox 19+ */

        color: $white-two;
      }
      &:-ms-input-placeholder { /* IE 10+ */

        color: $white-two;
      }
      &:-moz-placeholder { /* Firefox 18- */

        color: $white-two;
      }
    }
    button {
      font-family: $roboto;
      font-size: 17px;
      font-weight: bold;
      font-stretch: condensed;
    }
  }
}
