@import "../../../styles/variables";

#empty-basket {
  margin-top: 30px;
  text-align: center;
  img.chef {
    max-width: 45px;
    margin-bottom: 11px;
  }
  .title {
    font-family: $roboto;
    font-size: 17px;
    font-weight: bold;
    font-stretch: condensed;
    text-align: center;
    color: #c1c3c4;
  }
  hr {
    border-top: solid 1px $warm-grey;
    opacity: 0.6;
    border-bottom: 0;
    margin: 7px;
    margin-top: 35px;
  }
  .total {
    font-family: $open-sans;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    .sum {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
    }
    .discount {
      padding: 0;
      display: flex;
      flex-direction: row;
      width: 100%;
      background-color: #eb5635;
      color: $template-text-discount;
      .item,
      .fa-certificate {
        color: $template-text-discount;
        padding: 3px;
      }
    }
    .total {
      padding-top: 15px;
    }
  }
}
