/* Color palette */
$charcoal-grey: #373a3c;
$silver: #eceeef;
$steel: #818a91;
$duck-egg-blue: #d9edf7;
$pale-grey: #f7f7f9;
$black: #333;
$warm-grey: #777;
$white: #ddd;
$off-white: #fcf8e3;
$light-grey-green: #dff0d8;
$beige: #f2dede;
$cerulean: #0275d8;
$pinkish-grey: #ccc;
$boring-green: #5cb85c;
$faded-orange: #f0ad4e;
$dark-sky-blue: #5bc0de;
$pale-red: #d9534f;
$peacock-blue: #025aa5;
$peacock-blue-two: #01549b;
$white-two: #e6e6e6;
$greyish: #adadad;
$mid-green: #449d44;
$mid-green-two: #419641;
$tealish: #31b0d5;
$tealish-two: #2aabd2;
$squash: #ec971f;
$squash-two: #eb9316;
$reddish: #c9302c;
$brick: #c12e2a;
$deep-sea-blue: #014c8c;
$warm-grey-two: #999;
$soft-blue: #66afe9;
$gunmetal: #55595c;
$fern-green: #3c763d;
$light-grey-green-two: #d0e9c6;
$light-blue-grey: #bcdff1;
$light-tan: #faf2cc;
$beige-two: #ebcccc;
$pine: #2b542c;
$dark-slate-blue: #245269;
$dirt-brown: #66512c;
$dirt-brown-two: #843534;
$white-three: #f5f5f5;
$white-four: #eee;
$light-green: #adcf00;
$disabled-btn: #bfc1c2;
$disabled-btn-hover: #a7a9aa;

$roboto: Roboto, sans-serif;
$open-sans: OpenSans, sans-serif;
$template-text-discount: #fff;
$template-text-description: #777;
$template-text-main: #000;
$template-text-button: #373a3c;
$template-background-semi: #eceeef;
